# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The Python Python extension related
venv/
env/

# Flutter/Dart related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
__pycache__/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
**/android/**/generated/
**/android/gen/
**/android/out/
**/android/app/src/main/res/values/strings.xml
.gradle/
android/app/debug/
android/app/profile/
android/app/release/
macos/Podfile.lock
# iOS related
**/ios/**/GeneratedFiles/
**/ios/DerivedData/
**/ios/Pods/
**/ios/Resources/app.flx
**/ios/Resources/Info.plist
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/*.xcworkspace

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Runner/GeneratedPluginRegistrant.swift

# Environment variables
.env
